@keyframes slide_from_top{
    0% {
        transform: translateY(-50vh);
    }
    100% {
        transform: translateY(0);
    }
}


*:not(.loaded){
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    animation:none !important;
}